:root {
    --menu-icon-line-height-day2: 8px;
    --menu-icon-line-space-day2: 14px;
    --menu-icon-line-offsetY-day2: calc(var(--menu-icon-line-height-day2) + var(--menu-icon-line-space-day2));
    --menu-icon-height-day2: calc(3*var(--menu-icon-line-height-day2) + 2*var(--menu-icon-line-space-day2));
    --cubic-bezier-in-day2: cubic-bezier(0.30, 1, 0.70, 1);
    --cubic-bezier-out-day2: cubic-bezier(1, 0.70, 1, 0.30);
}

.frame__day2 {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #3FAF82;
	color: #fff;
}

.center__day2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.menu-icon__day2 {
    width: 80px;
    height: var(--menu-icon-height-day2);
    cursor: pointer;
    z-index: 50;
}

.menu-icon__day2 > :is(.line-1__day2, .line-2__day2, .line-3__day2) {
    height: var(--menu-icon-line-height-day2);
    width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
}

.menu-icon__day2 > .line-1__day2 {
    animation: animate-line-1-rev .7s ease-in-out;
}

.menu-icon__day2 > .line-2__day2 {
    margin: var(--menu-icon-line-space-day2) 0;
    animation: animate-line-2-rev .7s ease-in-out;
}

.menu-icon__day2 > .line-3__day2 {
    animation: animate-line-3-rev .7s ease-in-out;
}

.menu-icon__day2.active > .line-1__day2 {
    animation: animate-line-1 .7s var(--cubic-bezier-in-day2) forwards;
}

.menu-icon__day2.active > .line-2__day2 {
    animation: animate-line-2 .7s var(--cubic-bezier-in-day2) forwards;
}
.menu-icon__day2.active > .line-3__day2 {
    animation: animate-line-3 .7s var(--cubic-bezier-in-day2) forwards;
}

.no-animation__day2 {
    animation: none !important;
}

@keyframes animate-line-1 {
    0% {
        transform: translate3d(0,0,0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, var(--menu-icon-line-offsetY-day2), 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, var(--menu-icon-line-offsetY-day2), 0) rotate(45deg);
    }
}

@keyframes animate-line-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes animate-line-3 {
    0% {
        transform: translate3d(0,0,0) rotate(0deg);
    }
    50% {
        transform: translate3d(0, calc(-1*var(--menu-icon-line-offsetY-day2)), 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, calc(-1*var(--menu-icon-line-offsetY-day2)), 0) rotate(135deg);
    }
}

@keyframes animate-line-1-rev {
    0% {
        transform: translate3d(0, var(--menu-icon-line-offsetY-day2), 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, var(--menu-icon-line-offsetY-day2), 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes animate-line-2-rev {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animate-line-3-rev {
    0% {
        transform: translate3d(0, calc(-1*var(--menu-icon-line-offsetY-day2)), 0) rotate(135deg);
    }
    50% {
        transform: translate3d(0, calc(-1*var(--menu-icon-line-offsetY-day2)), 0) rotate(0deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}